body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  padding-top: 20px;
  overflow: hidden;
  height: 100%;
}

.heading{
  color: greenyellow;
  font-weight: bold;
}